.round{
    border-radius: 200px !important;
}

.nav-bar{
    background-color: #EBF1FF !important;
}

.proimg{
    width: 40px !important;
    height: 30px !important;
    padding: 0 !important;
    margin: 0 !important;
}


.motorimg{
    width: 50px !important;
    height: 30px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.nav a{
    color: #000 !important;
    text-decoration: none !important;
    padding-top: 7px;
    padding-left: 3px;
}

.nav a:hover{
    color: blue !important;
    cursor: pointer;
}

.nav{
    padding-top: 15px;
    padding-left: 5px;
}

.navcus{
    margin-bottom: -30px !important;
}

.profileimg{
    width: 40px !important;
    height: 40px !important ;
    margin-left: 10px !important;
}

div i{
    padding: 10px !important;
    margin-top: 5px !important;
}

.sellsec{
    height: 60px !important;
    width: 80px !important;
    background-image: url(./assets/iconborder.svg);
    background-repeat: no-repeat  !important;
    background-size: contain !important;
    background-position: center !important;
    /* margin-top: 10px; */
}

.rounded-circle{
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
}

select{
    width: 362px;
    height: 48px;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.find{
    height: 48px  !important;
    border: 1px solid black !important;
    border-top-left-radius:4px !important;
    border-bottom-left-radius:4px !important;
    border-bottom-right-radius:0px !important;
    border-top-right-radius:0px !important;
}

.findbtn{
    width: 70px !important;
    height: 48px;
    background-color: #002F34;
    color: white !important;
    border-bottom-right-radius:4px !important;
    border-top-right-radius:4px !important;
}

.carddiv1{
    margin-top: 30px !important;
    width: 116px;
    height: 110px;

    text-align: center !important;
}



/* .cards{
    column-gap:20px !important;
    row-gap: 10px !important;
    text-align: center !important;
} */

.card1{
    width: 88px;
    height: 88px;
    background-image: url("./assets/mobile.png");
    background-position: center;
    background-size: cover;
}

.card2{
    width: 88px;
    height: 88px;
    background-image: url("./assets/ca5.png");
     background-position: center;
    background-size: cover;
}

.card3{
    width: 88px;
    height: 88px;
    background-image: url("./assets/house.png");
     background-position: center;
    background-size: cover;
}

.card4{
    width: 88px;
    height: 88px;
    background-image: url("./assets/key.png");
     background-position: center;
    background-size: cover;
}

.card5{
    width: 88px;
    height: 88px;
    background-image: url("./assets/camera.png");
    background-position: center;
    background-size: cover;
}

.card6{
    width: 88px;
    height: 88px;
    background-image: url("./assets/bike.png");
     background-position: center;
    background-size: cover;
}

.card7{
    width: 88px;
    height: 88px;
    background-image: url("./assets/truck.png");
     background-position: center;
    background-size: cover;
}

.card8{
    width: 88px;
    height: 88px;
    background-image: url("./assets/paint.png");
     background-position: center;
    background-size: cover;
}

.card9{
    width: 88px;
    height: 88px;
    background-image: url("./assets/bag.png");
     background-position: center;
    background-size: cover;
}

.card10{
    width: 88px;
    height: 88px;
    background-image: url("./assets/hen.png");
     background-position: center;
    background-size: cover;
}

.card11{
    width: 88px;
    height: 88px;
    background-image: url("./assets/chair.png");
     background-position: center;
    background-size: cover;
}

.card12{
    width: 88px;
    height: 88px;
    background-image: url("./assets/dress.png");
     background-position: center;
    background-size: cover;
}

.card13{
    width: 88px;
    height: 88px;
    background-image: url("./assets/books.png");
     background-position: center;
    background-size: cover;
}

.card14{
    width: 88px;
    height: 88px;
    background-image: url("./assets/toy.png");
     background-position: center;
    background-size: cover;
}

@media (max-width: 992px) {
  
   

    .divmaincard{
        margin-left: 20px;
        
    }
}

@media (max-width: 568px) {
    .card1,.card2,.card3,.card4,.card5,.card6,.card7,
    .card8,.card9,.card10,.card11,.card12,.card13{
        width: 70px;
        height: 70px;
       
    }

    .carddiv1{
        width: 100px;
        height: 100px;
        
    }

    .divmaincard{
        margin-left: 30px;
        gap: 10px !important;
    }

    .maincards{
        width: 100% !important;
        height: 150px !important;
        object-fit: cover !important;
        margin: auto !important;
    }

    .mobilecards{
        width: 90%;
        margin: auto !important;
    }

    .aftermobile{
        width: 80%;
        
    }

    .ieltsimg{
        margin-left: 35px;
        margin-bottom: 20px;
    }

    .subfootimg{
        height: 20vh;
        width: 100%;
    }

    footer{
        display: none !important;
    }
}


.maincards{
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}

footer{
    background-color: #F2F4F5;
}

.sotterdiv{
    background-color: #F2F4F5;
}

.lastfooter{
    background-color: #002F34;
}

.lastfooter p{
    color: #F2F4F5;
}